.banner {
    width: 100%;
    height: 100vh;
    padding: 2em;
    background-color: purple;
    background: url(../../img/banner-mobile.png) no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.banner img {
    width: 40px;
}

.banner article {
    margin-top: 6.7em;
    width: 96%;
}

.banner article h2 {
    color: #7FBCBE;
    font-size: 2.4em;
}

.banner article p {
    font-size: .875em;
}

.banner article a {
    display: inline-block;
    color: #FFD13A;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3em;
    padding: 1.5em 4em;
    background-color: #fff;
    box-shadow: 0 0 60px rgba(250, 229, 159, .3);
    border-radius: 5px;
}

@media only screen and (min-width: 374px) {
    
    .banner article {
        margin-top: 9.2em;
        width: 80%;
    }
}

@media only screen and (min-width: 767px) {

    .banner {
        background-image: url(../../img/banner-tablet.png);
    }

    .banner article {
        margin-top: 23.4em;
        width: 73%;
    }

    .banner article h2 {
        font-size: 4.8em;
    }
    
    .banner article p {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1279px) {

    .banner {
        background-image: url(../../img/banner-desktop.png);
    }

    .banner article {
        margin-top: 5em;
        width: 38%;
    }

    /* .banner article h2 {
        font-size: 5em;
    } */
    
    .banner article p {
        font-size: 1.5em;
    }
}