.information .title {
	float: right;
	height: 60px;
	padding: .5em 0;
	box-sizing: border-box;
}

.information header h2 {
	color: #7FBCBE;
	float: left;
	font-weight: 400;
	font-size: 1.2em;
}

.information header img {
	height: 18px;
	margin: 1.2em 0;
	margin-left: 1em;
}

.information .sidebar {
	display: none;
}

.information form {
    clear: both;
}

.information form label {
	color: #323742;
}

.information form input {
	width: 100%;
	margin: 1em 0;
	padding: 1.2em 1em;
	border-style: none;
	border: 2px solid #F2F6F3;
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-appearance: none;
}

.information form input::placeholder {
	color: #E3E3E3;
}

.information form .box {
	color: #7FBCBE;
	position: relative;
	width: 100%;
	margin-bottom: 1.2em;
	padding: 2.5em 0;
	text-align: center;
	outline: 2px dashed #f4f4f4;
	outline-offset: -5px;
	background-color: #F6FBFE;
}

.information form .box p span {
	display: none;
}

.information form .box input[type=file] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
}

.information .box button {
	display: none;
}

.information form .pagination {
	float: right;
	margin-top: 2em;
}

.information form .pagination a {
	display: block;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: .875em;
	font-weight: 500;
	width: 150px;
	height: 40px;
	margin-bottom: 1em;
	margin-left: 1em;
	padding: .9em 1.5em;
	background-color: #7FBCBE;
	border-radius: 25px;
	box-sizing: border-box;
}

.information form .pagination .previous {
	background-color: #E3E3E3;
}

.information form .pagination a:first-of-type img {
	float: left;
	height: 18px;
}

.information form .pagination a:last-of-type img {
	float: right;
	height: 18px;
}

/***************************
    Personal Information
***************************/

/***************************
	Business Hours 
***************************/


/***************************
	Email Setup
***************************/

.information .title div {
	float: left;
	width: 89%;
	text-align: right;
}

.information .title div h2 {
	float: none;
	margin: 0;
}

.information .title div p {
	font-size: .875em;
	text-align: right;
	color: #323742;
}


.information form.setup {
	clear: both;
	text-align: center;
	padding: 4em 0;
}


.information form.setup .provider {
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 2.2em;
	padding: 1em 0;
	border-radius: 5px;
	box-shadow: 0 0 25px rgba(0, 0, 0, .1);
	box-sizing: border-box;
}

.information form.setup .provider.gmail {
	background-color: #EB4335;
}

.information form.setup .provider.outlook {
	background-color: #0078D7;
}

.information form.setup .provider.other,
.information form.setup .provider.other p {
	color: #A2B3BB;
	background-color: #FFFFFF;
}

.information form.setup .provider img {
	height: 45px;
	margin-bottom: 1.2em;
}

.information form.setup .provider p {
	color: #fff;
	width: 50%;
	margin: 0 auto;
}

.information form.setup p {
	margin: 4em 0;
}

.information form.setup p a {
	display: block;
	color: #7FBCBE;
	text-decoration: underline;
	margin-top: .5em;
}

.information form.setup .pagination a:last-of-type img {
	display: none;
}

/***************************
	Confirmation
***************************/

.information form.confirmation {
	text-align: center;
	margin-top: 6em;
	padding: 1em;
	box-shadow: 0 0 25px rgba(0, 0, 0, .1)
}

.information form.confirmation figure {
	width: 200px;
	margin: 0 auto;
	padding: 1em;
	background-color: aliceblue;
}

.information form.confirmation figure img {
	width: 90%;
}

.information form.confirmation h2 {
	font-size: 1.4em;
	font-weight: 400;
}

.information form.confirmation p {
	color: #323742;
	font-size: .875em;
	font-weight: 400;
	margin: 0;
}

.information form.confirmation p a {
	color: #7FBCBE;
	text-decoration: underline;
}

.information form.confirmation .pagination {
	float: none;
}


.information form.confirmation .pagination a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
}


.information form.confirmation .pagination a:last-of-type img {
	display: none;
}


@media only screen and (min-width: 767px) {
	
	.information .sidebar {
		display: block;
		clear: both;
		padding: 1em 0;
		background-color: #fff;
		box-shadow: 0 3px 12px rgba(0, 0, 0, .05);
		box-shadow: 0 -3px 12px rgba(0, 0, 0, .05);
		overflow: hidden;
	}

	.information .sidebar article {
		width: 86.979%;
	}

	.information .sidebar div {
		float: left;
		width: 30%;
		text-align: center;
		padding: 0 1em;
	}

	.information .sidebar .pagination {
		margin: 6em 0;
		box-sizing: border-box;
	}

	.information .sidebar div a {
		display: inline-block;
		text-decoration: none;
		color: #7FBCBE;
		width: 30px;
		height: 30px;
		margin: .7em 0;
		padding: .25em 0;
		border-radius: 50%;
		box-sizing: border-box;
	}

	.information .sidebar div a.active {
		color: #FFD13A;
		border: 2px solid #FFD13A;
	}

	.information .sidebar .card {
		padding: 1.4em 0;
	}

	.information .sidebar .card h4 {
		color: #7FBCBE;
		font-weight: 400;
	}

	.information .sidebar .card p {
		color: #323742;
		font-size: .875em;
		line-height: 2em;
	}

	.information .sidebar .card img {
		width: 50px;
	}

	.information .sidebar .contact {
		color: #7FBCBE;
		margin: 5.8em 0;
	}

	.information .sidebar .contact span {
		display: block;
		margin-bottom: .5em;
	}

	.information form {
		margin: 3em auto;
	}

	.information form div label {
		display: inline-block;
		width: 48%;
	}

	.information form .fullname label:first-of-type {
		margin-right: 1em;
	}

	.information form .pagination a {
		display: inline-block;
	}

	/***************************
	Company Information
	***************************/

	.information form.company {
		padding-bottom: 2em;
		overflow: hidden;
	}

	/***************************
	Business Hours 
	***************************/
	
	.information form.business {
		padding-bottom: 2em;
		overflow: hidden;
	}
	
	.information form.business label {
		display: inline-block;
		width: 100%;
		margin-bottom: 1.4em;
	}

	.information form.business .hours {
		float: right;
		width: 70%;
	}
	
	.information form.business .hours input {
		float: left;
		width: 46.6%;
		margin: 0;
		margin-left: 1em;
	}

	/***************************
		Email Setup
	***************************/

	.information form.setup .provider {
		display: inline-block;
	}

	.information form.setup .provider.outlook {
		margin: 0 2.2em;
	}

	/***************************
		Confirmation
	***************************/

	.information form.confirmation {
		width: 35%;
		padding: 2em;
	}
}

@media only screen and (min-width: 1279px) {
	
	.information {
		width: 78.125%;
		margin: 4em auto;
		box-shadow: 0 0 12px rgba(0, 0, 0, .05);
		border-radius: 5px;
		overflow: hidden;
	}
	
	.information .title {
		float: none;
		display: inline-block;
		margin-top: 1em;
		padding: 0 2em;
	}

	.information .title div {
		width: auto;
		text-align: left;
	}

	.information .title img {
		display: none;
	}

	.information .sidebar {
		float: right;
		width: 25%;
		height: 100%;
		margin-bottom: 0;
		padding: 2em;
		box-shadow: -3px 0 12px rgba(0, 0, 0, .05);
	}

	.information .sidebar div {
		float: none;
		width: 100%;
		height: 25%;
		padding: 0
	}

	.information .sidebar article {
		width: 100%;
	}

	.information form {
		display: inline-block;
		width: 61%;
		margin: 0;
		padding: 0 2em;
	}

	.information form .box p span {
		display: inline-block;
		color: #A2B3BB;
	}

	.information form div label {
		width: 48.39%;
	}

	/***************************
		Confirmation
	***************************/

	.information.container {
		border: none;
	}

	.information form.confirmation {
		display: block;
		margin: 0 auto;
	}
}