.main-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #fff;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, .1);
}

.main-nav a {
	display: inline-block;
	text-align: center;
	width: 25%;
	height: 80px;
	margin-right: -3px;
}

.main-nav svg {
	height: 40px;
	padding: 1.2em 1em;
}

.main-nav path {
	fill: #a2b3bb;
}

.main-nav .active path {
    fill: #03a9f4;
}